.intro-message {
	text-align: center;
	padding-top: 20%;
	padding-bottom: 10%;
	color: #fff;
}
body {
	background: url(cafeimage.jpg) no-repeat center center;
}
.signup-form {
	text-align: center;
	color:#999;
}
.services {
	background:#9C8642;
	opacity:0.89;
}